<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Shopping-Online</display-name>
	<servlet>
		<servlet-name>CheckUsernameServlet</servlet-name>
		<servlet-class>com.shopping.servlet.CheckUsernameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckUsernameServlet</servlet-name>
		<url-pattern>/CheckUsernameServlet.htm</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CheckManagerLoginServlet</servlet-name>
		<servlet-class>com.shopping.servlet.CheckManagerLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckManagerLoginServlet</servlet-name>
		<url-pattern>/CheckManagerLoginServlet.htm</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ShowProductServlet</servlet-name>
		<servlet-class>com.shopping.servlet.ShowProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowProductServlet</servlet-name>
		<url-pattern>/ShowProduct.htm</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SellerDetailServlet</servlet-name>
		<servlet-class>com.shopping.servlet.SellerDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SellerDetailServlet</servlet-name>
		<url-pattern>/SellerDetailServlet.htm</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>OrderDetailServlet</servlet-name>
		<servlet-class>com.shopping.servlet.OrderDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderDetailServlet</servlet-name>
		<url-pattern>/OrderDetailServlet.htm</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>manager_login.jsp</welcome-file>
	</welcome-file-list>
</web-app>